body{
    font-family: Quicksand, sans-serif;
}
#name{
    width:80%;
    left:0;
    background: #244855;
    border-radius:5px;
    font-size:5em;
    font-color:#fff;
}
#main{
    height:7px;
    background:#000;
}
