body{
    font-family: Quicksand, sans-serif;
    background: rgb(175,254,255);
    background: linear-gradient(158deg, rgba(175,254,255,1) 0%, rgba(100,255,183,1) 47%, rgba(177,255,178,1) 100%);
}
#container{
    display: flex;
    justify-content: center;
}
#main{
    background:#1d1d1d;
    width: 80%;
    aspect-ratio: 1/2;
    padding: 5px;
    color: rgb(247, 251, 255);
}
.socialsBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}
